<!-- BEGIN: Footer-->

<footer class="page-footer footer footer-static footer-dark
   gradient-45deg-purple-deep-purple gradient-shadow navbar-border
    navbar-shadow">
    <div class="footer-copyright">
        <div class="container"><span>© 2020 <a
                    href="/"
                    target="_blank">ANsuz</a> All rights reserved.<a href="https://drive.google.com/file/d/1GiYwWqSKB5vgLBhzqjyq4bG8G9e6u7S7/view?fbclid=IwAR1Uk9Wux3L5Etc0M_-tAqgXYHMa0WZPxUk8xh_UlhVASZCtpZfzSgK3X3A" target="_blank">    Aviso de privacidad</a></span><span
                class="right hide-on-small-only">Developed by
                <a href="/">ANsuz</a></span><p></p>
                
                </div>
    </div>
</footer>

<!-- END: Footer-->