<div id="gfort-main-wrapper">

<div id="gfort-main-container">


<div id="gfort-page-body" class="gfort-page-body">

<div class="row gfort-main-row justify-content-center">

<div id="primary" class="gfort-content-area col-lg-12">

<main id="main" class="gfort-content-area-container site-main">

<div class="gfort-section gfort-section-3x-padding gfort-bg-position-center-center" id="section-1">

<div class="container">

<div class="row">

<div class="col-lg-6">

<div class="gfort-block gfort-block-media gfort-block-media-layout-1">

<div class="gfort-block-container gfort-block-media-container">

<div class="gfort-block-head gfort-block-media-head">
    <img src="/images_algebra/parallax10.jpg">
</div>
</div>
</div>
</div>

<div class="col-lg-6">
 
<!--<div class="gfort-form-block gfort-block-boxed gfort-form-block-mailchimp gfort-form-block-mailchimp-layout-1 white-bg-color">
-->
<div class="gfort-form-block-container" id="section-2">

<form method="POST" action="/web/confirmacion">

<div class="col-lg-12">
<h4 class="gfort-text-center gfort-mb-36 gfort-mt-3">Confirmación</h4>
</div>

<div class="col-lg-12">
<label class="gfort-label">
<input class="gfort-form-control gfort-mt-0" type="text" name="codigo_confirmacion" placeholder="Código de confirmación">
</label>
</div>

<div class="col-lg-12">
<button type="submit" class="gfort-btn gfort-btn-secondary gfort-btn-block">
<span>Aceptar</span>
</button>
</div>
</form>
</div>
</div>
</div>

</main>
</div>
</div>
</div>

<footer id="colophon" class="gfort-section-footer site-footer">

<div class="gfort-section-footer-container">

<div class="gfort-section-footer-top">

<div class="gfort-section gfort-section-3x-padding dark-3-bg-color">

<div class="container">

<div class="row">

<div class="col-lg-12">

<div class="widget light-color widget_nav_menu widget_nav_menu_horizontal gfort-text-center gfort-mb-18">
<ul>
<li><a href="#">About</a></li>
<li><a href="#">Blog</a></li>
<li><a href="#">Policy Privacy</a></li>
<li><a href="#">Terms of use</a></li>
<li><a href="#">Contact us</a></li>
</ul>
</div>

<div class="widget light-color widget_text gfort-text-center gfort-mb-24">
<div class="textwidget">
<p>&copy; <span class="gfort-current-year">2020</span> <a href="#" title="ANzus" target="_blank" rel="noopener">ANzus</a>, all rights reserved.</p>
</div>
</div>

<div class="widget light-color widget_gfort_social gfort-text-center">
 
<div class="gfort-social-icons gfort-social-icons-layout-2">
<ul>
<li>
<a href="#" title="Facebook">
<i class="fab fa-facebook-f"></i>
<i class="fab fa-facebook-f"></i>
</a>
</li>
<li>
<a href="#" title="Twitter">
<i class="fab fa-twitter"></i>
<i class="fab fa-twitter"></i>
</a>
</li>
<li>
<a href="#" title="youtube">
<i class="fab fa-youtube"></i>
<i class="fab fa-youtube"></i>
</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</footer>
</div>
</div>

<script src="/app-assets/landing-page/js/plugins/jquery/jquery-3.3.1.min.js"></script>
<script src="/app-assets/landing-page/js/plugins/jquery/jquery-ui.min.js"></script>
<script data-main="/app-assets/landing-page/js/scripts.js" src="/app-assets/landing-page/js/require.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-63929020-1"></script>
<script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-63929020-1');
        </script>
<!--
<div class="parallax-container">
    <div class="parallax"><img src="images_algebra/parallax9.png"></div>
</div>
<div class="section white z-depth-5">
    <div class="row container">
        <h4 class="header">Se ha enviado un correo con un código de confirmación.
        </h4>
        <form action="/confirmacion" method="POST" id="codigo_confirmacion">
            <div class="row">
                <h2 class="center-align">Introduce el código</h2>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="codigo" name="codigo_confirmacion" type="text" class="validate">
                    <label for="codigo">Código</label>
                </div>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light" type="submit" name="action">Enviar
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
</div>-->