<div id="gfort-main-wrapper">

<div id="gfort-main-container">

<a href="#" id="gfort-btn-back-to-top" class="gfort-btn-back-to-top" title="Back to top">
<i class="fas fa-chevron-up"></i>
</a>

<header class="gfort-section-header gfort-section-header-layout-1 gfort-section-header-fixed gfort-section-header-transparent">

<div class="gfort-section-header-container">

<div class="gfort-section-header-menu">

<div class="gfort-section-header-menu-container gfort-border-color-transparent">

<nav class="gfort-navbar gfort-navbar-expand-lg">

<div class="container secondary-font-family">


<button class="gfort-navbar-toggler" type="button" data-toggle="collapse" data-target="#gfort-navbar-collapse">
<span class="gfort-navbar-toggler-wd">MENU</span>
<span class="gfort-navbar-toggler-lines-wrapper">
<i class="gfort-navbar-toggler-line gfort-navbar-toggler-line-top"></i>
<i class="gfort-navbar-toggler-line gfort-navbar-toggler-line-middle"></i>
<i class="gfort-navbar-toggler-line gfort-navbar-toggler-line-bottom"></i>
</span>
</button>

<div class="gfort-navbar-collapse gfort-navbar-collapse-desktop-menu">

<ul class="gfort-navbar-nav ml-auto">

<li class="gfort-nav-item">
<a class="gfort-nav-link data-gfort-scroll" href="#section-1"><span>Bienvenidos</span></a>
</li>

<li class="gfort-nav-item">
<a class="gfort-nav-link data-gfort-scroll" href="#section-2"><span>Iniciar sesión</span></a>
</li>

<li class="gfort-nav-item">
<a class="gfort-nav-link data-gfort-scroll" href="#section-3"><span>Registrarse</span></a>
</li>

</ul>
 </div>
</div>

<div class="collapse gfort-navbar-collapse gfort-navbar-collapse-mobile-menu" id="gfort-navbar-collapse">
</div>
</nav>
</div>
</div>
</div>
</header>

<div id="gfort-page-body" class="gfort-page-body">

<div class="row gfort-main-row justify-content-center">

<div id="primary" class="gfort-content-area col-lg-12">

<main id="main" class="gfort-content-area-container site-main">

<div class="gfort-section gfort-section-3x-padding gfort-bg-position-center-center" id="section-1">

<div class="container">

<div class="row">

<div class="col-lg-12">

<div class="gfort-gap gfort-gap-72 d-none d-xl-block"></div>

<div class="gfort-block gfort-block-section-title gfort-block-section-title-intro gfort-text-center gfort-mb-12">

<div class="gfort-block-container">

<div class="gfort-block-body gfort-block-section-title-body">

<div class="gfort-block-heading gfort-block-section-title-heading">
<h1 class="font-weight-900">Bienvenido a Math.lo</h1>
</div>
</div>
</div>
</div>

<div class="gfort-gap gfort-gap-6 d-none d-md-block"></div>

<div class="gfort-block gfort-block-section-title gfort-block-section-title-intro gfort-text-center">

<div class="gfort-block-container">

 <div class="gfort-block-body gfort-block-section-title-body">

<div class="gfort-block-content gfort-block-section-title-content">
<p class="h4 font-weight-400 body-color">Una de las mejores herramientas de aprendizaje del siglo XX1</p>
</div>
</div>
</div>
</div>

<div class="gfort-gap gfort-gap-18 d-none d-md-block"></div>

<div class="gfort-block gfort-block-text gfort-text-center gfort-mb-12">

<div class="gfort-block-container gfort-block-text-container">

<div class="gfort-block-body gfort-block-text-body">

</div>
</div>
</div>

<div class="gfort-gap gfort-gap-18 d-none d-md-block"></div>
</div>

<div class="col-lg-8">

<div class="gfort-block gfort-block-media gfort-block-media-layout-1">

<div class="gfort-block-container gfort-block-media-container">

<div class="gfort-block-head gfort-block-media-head">
<iframe title="Youtube" src="https://www.youtube.com/embed/Cwq4dRBWcr8" allowfullscreen></iframe>
</div>
</div>
</div>
</div>

<div class="col-lg-4">
 
<!--<div class="gfort-form-block gfort-block-boxed gfort-form-block-mailchimp gfort-form-block-mailchimp-layout-1 white-bg-color">
-->
<div class="gfort-form-block-container" id="section-2">

<form method="POST" action="/web/iniciar">

<div class="col-lg-12">
<h4 class="gfort-text-center gfort-mb-36 gfort-mt-3">Iniciar sesión</h4>
</div>

<div class="col-lg-12">
<label class="gfort-label">
<input class="gfort-form-control gfort-mt-0" type="email" name="email_inicio" placeholder="Correo">
</label>
</div>

<div class="col-lg-12">
<label class="gfort-label">
<input class="gfort-form-control gfort-mt-0" type="password" name="contraseña_inicio" placeholder="Contraseña">
</label>
</div>

<div class="col-lg-12">
<button type="submit" class="gfort-btn gfort-btn-secondary gfort-btn-block">
<span>Iniciar sesión</span>
</button>
</div><br><br><br>
<a class="gfort-nav-link data-gfort-scroll" href="#section-4">Recuperar cuenta</a>
</form>
</div>
</div>
</div>

<div class="col-lg-12">
<div class="gfort-gap gfort-gap-72"></div>
</div>
</div>
</div>

<div class="gfort-sep gfort-gap-72 gfort-sep-bottom white-color">

</div>
</div>

<div class="gfort-section gfort-section-3x-padding">

<div class="container">

<div class="row align-items-center">

<div class="col-lg-6">

<div class="gfort-block gfort-block-section-title">

<div class="gfort-block-container">

<div class="gfort-block-body gfort-block-section-title-body">


</div>
</div>
</div>

<div class="gfort-block gfort-block-text">

<div class="gfort-block-container gfort-block-text-container">


<div class="gfort-form-block-container"  id="section-3">

<form method="POST" action="/web/registrar">

<div class="col-lg-12">
<h4 class="gfort-text-center gfort-mb-36 gfort-mt-3">Registrarse</h4>
</div>

<div class="col-lg-12">
<label class="gfort-label">
<input class="gfort-form-control gfort-mt-0" type="text" name="nombres_usuario" placeholder="Nombre">
</label>
</div>

<div class="col-lg-12">
<label class="gfort-label">
<input class="gfort-form-control gfort-mt-0" type="text" name="apellidos_usuario" placeholder="Apellidos">
</label>
</div>

<div class="col-lg-12">
<label class="gfort-label">
<p>Tipo de usuario Alumno / Tutor</p>
<input class="gfort-form-control gfort-mt-0" type="range" min="1" max="2" value="1" name="tipo_usuario">
</label>
</div>

<div class="col-lg-12">
<label class="gfort-label">
<input class="gfort-form-control gfort-mt-0" type="text" name="curp_alumno" placeholder="Curp del alumno">
<small>*En dado caso de ser tutor proporsionar el curp de su hi@</small>
</label>
</div>

<div class="col-lg-12">
<label class="gfort-label">
<input class="gfort-form-control gfort-mt-0" type="email" name="email_usuario" placeholder="Correo">
</label>
</div>

<div class="col-lg-12">
<label class="gfort-label">
<input class="gfort-form-control gfort-mt-0" type="password" name="contraseña_usuario" placeholder="Contraseña">
</label>
</div>

<div class="col-lg-12">
<button type="submit" class="gfort-btn gfort-btn-secondary gfort-btn-block">
<span>Registrarse</span>
</button>
</div>
</form>
</div>
</div>
</div>
</div>

<div class="col-lg-6">

<div class="gfort-block gfort-block-image gfort-block-image-layout-1 gfort-text-center">

<div class="gfort-block-container gfort-block-image-container">

<div class="gfort-block-head gfort-block-image-head">
<img src="/images_algebra/parallax10.jpg" alt="Image" class="gfort-width-auto" />
</div>
</div>
</div>
</div>
<div class="col-lg-6">
    <br><br><br>
<div class="gfort-block gfort-block-image gfort-block-image-layout-1 gfort-text-center" id="section-4">

<div class="gfort-block-container gfort-block-image-container">

<div class="gfort-block-head gfort-block-image-head">
<img src="/images_algebra/parallax11.jpg" alt="Image" class="gfort-width-auto" />
</div>
</div>
</div>
</div>

<div class="col-lg-6">
<div class="gfort-section gfort-section-3x-padding gfort-bg-position-center-center">

<div class="gfort-block gfort-block-text">

<div class="gfort-block-container gfort-block-text-container">


<div class="gfort-form-block-container" >

<form method="POST" action="/web/recuperarCuenta">

<div class="col-lg-12">
<h4 class="gfort-text-center gfort-mb-36 gfort-mt-3">Recuperar cuenta</h4>
</div>

<div class="col-lg-12">
<label class="gfort-label">
<input class="gfort-form-control gfort-mt-0" type="email" name="email_recuperacion" placeholder="último correo de la cuenta">
</label>
</div>


<div class="col-lg-12">
<button type="submit" class="gfort-btn gfort-btn-secondary gfort-btn-block">
<span>Enviar correo</span>
</button>
</div>
</form>
</div></div></div></div></div>

</div>
</div>
</div>



</main>
</div>
</div>
</div>

<footer id="colophon" class="gfort-section-footer site-footer">

<div class="gfort-section-footer-container">

<div class="gfort-section-footer-top">

<div class="gfort-section gfort-section-3x-padding dark-3-bg-color">

<div class="container">

<div class="row">

<div class="col-lg-12">

<div class="widget light-color widget_nav_menu widget_nav_menu_horizontal gfort-text-center gfort-mb-18">
<ul>
<li><a href="#">About</a></li>
<li><a href="#">Blog</a></li>
<li><a href="#">Policy Privacy</a></li>
<li><a href="#">Terms of use</a></li>
<li><a href="#">Contact us</a></li>
</ul>
</div>

<div class="widget light-color widget_text gfort-text-center gfort-mb-24">
<div class="textwidget">
<p>&copy; <span class="gfort-current-year">2020</span> <a href="#" title="ANzus" target="_blank" rel="noopener">ANzus</a>, all rights reserved.</p>
</div>
</div>

<div class="widget light-color widget_gfort_social gfort-text-center">
 
<div class="gfort-social-icons gfort-social-icons-layout-2">
<ul>
<li>
<a href="#" title="Facebook">
<i class="fab fa-facebook-f"></i>
<i class="fab fa-facebook-f"></i>
</a>
</li>
<li>
<a href="#" title="Twitter">
<i class="fab fa-twitter"></i>
<i class="fab fa-twitter"></i>
</a>
</li>
<li>
<a href="#" title="youtube">
<i class="fab fa-youtube"></i>
<i class="fab fa-youtube"></i>
</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</footer>
</div>
</div>

<script src="/app-assets/landing-page/js/plugins/jquery/jquery-3.3.1.min.js"></script>
<script src="/app-assets/landing-page/js/plugins/jquery/jquery-ui.min.js"></script>
<script data-main="/app-assets/landing-page/js/scripts.js" src="/app-assets/landing-page/js/require.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-63929020-1"></script>
<script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-63929020-1');
        </script>